.background-signin{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 80px;
    box-sizing: border-box;
}
.sign-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    line-height: 25px;

}
.signin-up h2{
    overflow: hidden;
    line-height: 2.1rem;
}
.signin-up-p{
    font-size: medium;
    color: rgb(95, 93, 93);
}
.signin-up-a{
    color: beige;
}
.signin-up-a:hover{
    color: rgb(95, 93, 93);
}
hr{
    border: 0.5px solid rgb(54, 52, 52);
    margin: 40px 0px;
}
.signin-list{
    display: flex ;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width: 230px;
}
.guest-button{
    position: relative;
    right: 7.5px;
    height: calc(2.5rem + 5px);
    border-radius: 16px;
}
.sign-button{
    margin-top: 5px;
    background-color: transparent;
    border: 2px solid beige;
    background-color: transparent;
    color: beige;
    width: 215px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}
.sign-button:hover{
    background-color: beige;
    color : rgb(51, 50, 50);
}
.recommend-sign{
    position: absolute;
    top: 1px;
    right: 2px;
    color: rgb(119, 255, 142);
}
.email-input, .username-input{
    width: 215px;
    background-color: rgb(54, 52, 52);
    border: 2px solid rgb(54,52,52);
    border-bottom: 1px solid rgb(154, 154, 154);
    height: 36px;
    padding: 5px;
    padding-bottom: 1px;
    color: beige;
}
.signform-input input:focus{
    outline: none;
    border: 2px solid rgb(89, 221, 89);
}
.margin-10px{
    margin-bottom: 10px;
}
.authentication-divider{
    margin: 15px 0px;
    width: 210px;
    position: relative;
    right: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authentication-divider span{
    background-color: #0e100f;
    z-index: 1;
    padding: 0rem 0.5rem;
}
.authentication-divider::after{
    content: "";
    background-color: #3d444d;
    left: 0;
    right: 0;
    height: 1px;
    position: absolute;
}
.google-signin{
    position: relative;
    right: 7.5px;
    height: calc(2.5rem + 5px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.add-username{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #3d444d;
    padding: 40px 70px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.addusername{
    margin-bottom: 20px;
}
.addusername:focus{
    outline: none;
    border: 2px solid rgb(89, 221, 89);
}
.add-username-coverarea{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    position: absolute;
    z-index: 5;
    top: 0px;
    overflow: hidden;
}